<div class="container-fluid mt-4">
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <h4 class="card-header">User Details</h4>
        <div class="card-body">
          <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="form-group row">
              <label for="fullName" class="col-lg-4">Full Name</label>
              <div class="col-lg-8">
                <input type="text" formControlName="fullName" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.fullName.errors }" />
                <div *ngIf="submitted && f.fullName.errors" class="invalid-feedback">
                  <div *ngIf="f.fullName.errors.required">Full name is required</div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="age" class="col-lg-4">Age</label>
              <div class="col-lg-8">
                <input type="number" formControlName="age" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.age.errors }" />
                <div *ngIf="submitted && f.age.errors" class="invalid-feedback">
                  <div *ngIf="f.age.errors.minage">
                    Age should be more than {{minAge}} years .
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="dob" class="col-lg-4">Date of Birth</label>
              <div class="col-lg-8">
                <input type="date" formControlName="dob" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.dob.errors }" />
                <div *ngIf="submitted && f.dob.errors" class="invalid-feedback">
                  <div *ngIf="f.dob.errors.required">Full name is required</div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="Email" class="col-lg-4">Email</label>
              <div class="col-lg-8">
                <input type="text" formControlName="email" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Email is required</div>
                  <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
              </div>
            </div>
            <div class="form-group row">
              <label for="Region" class="col-lg-4">Region</label>
              <div class="col-lg-8">
                <select formControlName="Region" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.Region.errors }">
                  <option value="" hidden disabled selected>Select Region</option>
                  <option value="{{reg}}" *ngFor="let reg of regions">{{reg}}</option>
                </select>
                <div *ngIf="submitted && f.Region.errors" class="invalid-feedback">
                  <div *ngIf="f.Region.errors.required">Region is required</div>
                </div>
              </div>
            </div>
            <div class="form-group row form-check">
              <div class="col-lg-12">
                <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input"
                  [ngClass]="{ 'is-invalid': submitted && f.acceptTerms.errors }" />
                <label for="acceptTerms" class="form-check-label">Accept Terms & Conditions</label>
                <div *ngIf="submitted && f.acceptTerms.errors" class="invalid-feedback">Accept Ts & Cs is required</div>
              </div>
            </div>
            <div class="form-group">
              <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Save
              </button>
              <button type="reset" (click)="onResetForm()" class="btn btn-danger ml-2">
                Reset
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-lg-8">
      <app-regions [regionList]="regionList"></app-regions>
    </div>
  </div>
</div>